<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.money.newstudy.biz.mapper.MyMylikeMapper" >
    <select id="exitMyLike" resultType="java.lang.Integer"
            parameterType="com.money.newstudy.biz.autoCode.pojo.Mylike">
        select count(*) from myLike where user_id = #{userId} and news_id = #{newsId};
    </select>

    <delete id="deleteMylikeByUserIdAndNewsId" parameterType="com.money.newstudy.biz.autoCode.pojo.Mylike">
        delete from myLike
        where user_id = #{userId} and news_id = #{newsId}
    </delete>

    <select id="exitFavorites" resultType="java.lang.Integer"
            parameterType="com.money.newstudy.biz.autoCode.pojo.Favorites">
        select count(*) from favorites where user_id = #{userId} and news_id = #{newsId};
    </select>

    <delete id="deleteFavoritesByUserIdAndNewsId" parameterType="com.money.newstudy.biz.autoCode.pojo.Favorites">
        delete from favorites
        where user_id = #{userId} and news_id = #{newsId}
    </delete>
    <select id="selectMyFavoritesByUserId" resultType="com.money.newstudy.vo.FavoritesVo"
            parameterType="com.money.newstudy.biz.autoCode.pojo.Favorites">
        select * from favorites where user_id = #{userId}
        ORDER BY id limit #{pageStart},#{pageNum} ;
    </select>
    <select id="selectMyFavoritesByUserIdCount" resultType="java.lang.Integer"
            parameterType="com.money.newstudy.biz.autoCode.pojo.Favorites">
        select count(*) from favorites where user_id = #{userId};
    </select>
    <select id="selectNewsFavoritesCount" resultType="java.lang.Integer"
            parameterType="java.lang.Integer">
        SELECT COUNT(*) FROM favorites where news_id = #{id}
    </select>
    <select id="selectMyFavoritesByUserIdAndKeyword" resultType="java.util.Map"
            parameterType="com.money.newstudy.dto.FavoritesDto">
        select news.* from  favorites,news where favorites.news_id = news.id and user_id = #{userId}
        <if test="keyword != null and keyword != ''">
         and (news.title like concat('%',#{keyword},'%') or news.author like concat('%',#{keyword},'%') or news.second_title like concat('%',#{keyword},'%'))
        </if>
         order by favorites.id desc limit #{pageStart},#{pageNum} ;
    </select>
    <select id="selectMyFavoritesByUserIdAndKeywordCount" resultType="java.lang.Integer"
            parameterType="com.money.newstudy.dto.FavoritesDto">
        select count(*) from  favorites,news where favorites.news_id = news.id and user_id = #{userId}
        <if test="keyword != null and keyword != ''">
            and (news.title like concat('%',#{keyword},'%') or news.author like concat('%',#{keyword},'%') or news.second_title like concat('%',#{keyword},'%'))
        </if>
    </select>
    <select id="isMyLike" parameterType="com.money.newstudy.dto.FavoritesDto"
            resultType="java.lang.Integer">
        select count(*) from myLike where user_id = #{userId} and news_id =#{newsId}
    </select>
    <select id="isMyFavoritest" parameterType="com.money.newstudy.dto.FavoritesDto"
            resultType="java.lang.Integer">
        select count(*) from favorites where user_id = #{userId} and news_id =#{newsId}
    </select>

</mapper>